*{
  font-size: 10px;
  
  margin: 0;
  padding: 0;
  
}

.calendar-container {
  width: 100%;
  height: 100vh;
  background-color: #12123a;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
